foreground {{ FG }}
background {{ BG }}
selection_foreground {{ BG }}
selection_background {{ FG }}
cursor {{ FG }}
cursor_text_color {{ BG }}

color0 {{ BLACK }}
color1 {{ RED }}
color2 {{ GREEN }}
color3 {{ YELLOW }}
color4 {{ BLUE }}
color5 {{ MAGENTA }}
color6 {{ CYAN }}
color7 {{ WHITE }}
color8 {{ BLACK }}
color9 {{ RED }}
color10 {{ GREEN }}
color11 {{ YELLOW }}
color12 {{ BLUE }}
color13 {{ MAGENTA }}
color14 {{ CYAN }}
color15 {{ WHITE }}

active_tab_foreground {{ FG }}
active_tab_background {{ BG }}
inactive_tab_foreground {{ BLACK }}
inactive_tab_background {{ BG }}
tab_bar_background {{ BG }}

url_color {{ BLUE }}
