[ColorScheme]
active_colors={{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_FG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb_50 }}
disabled_colors={{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_FG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb_50 }}
inactive_colors={{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_FG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_ACCENT_BG | hex_to_argb }}, {{ GTK_WIN_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb }}, {{ GTK_WIN_FG | hex_to_argb }}, {{ GTK_SURFACE_BG | hex_to_argb_50 }}
