[ColorScheme]
active_colors={{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_FG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb_50 }}
disabled_colors={{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_FG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb_50 }}
inactive_colors={{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_FG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_ACCENT_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb }}, {{ GTK_WIN_FG_LIGHT | hex_to_argb }}, {{ GTK_SURFACE_BG_LIGHT | hex_to_argb_50 }}
