return {
  background = '{{ BG }}',
  foreground = '{{ FG }}',
  cursor_bg = '{{ FG }}',
  cursor_fg = '{{ BG }}',
  cursor_border = '{{ FG }}',
  ansi = { '{{ BLACK }}', '{{ RED }}', '{{ GREEN }}', '{{ YELLOW }}', '{{ BLUE }}', '{{ MAGENTA }}', '{{ CYAN }}', '{{ WHITE }}' },
  brights = { '{{ BLACK }}', '{{ RED }}', '{{ GREEN }}', '{{ YELLOW }}', '{{ BLUE }}', '{{ MAGENTA }}', '{{ CYAN }}', '{{ WHITE }}' },
}
